{% if brothers|length > 0 %}
    <div class="">
        <select class="form-control" id="changeSiteSeletor">
                <option value="">{{ 'admin.header.siteChange.placeholder'|trans }}</option>
            {% for brother in brothers %}
                <option value="http://{{ brother.site.domainName }}/app_{{ app.environment }}.php/admin">{{ brother.site }}</option>
            {% endfor %}
        </select>
    </div>
{% endif %}