{% block form_label %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label for="{{ id }}" class="control-label {% if required %}required{% endif %}">
        {{ label|trans }}
        {% if required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>
{% endblock %}